@media only screen and (max-width: 768px) {
    .img_album {
        width: 200px;
    }

    div.destacados{
        padding: 0px;
    }
}

@media only screen and (min-width: 769px) {
    .img_album {
        width: 220px;
    }
}

@media only screen and (min-width: 426px) {
    div.contenedor {
        width: 365px;
    }
}

.btn-rounded{
    width:45px;
    height:45px;
    background-color:#03800b;
    margin: 5px;
    padding:10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:11px;
    line-height:28px;
    text-transform: uppercase;
    float:left;
}

.hide{
    display: none;
}

i.far{
    cursor: pointer;
}